<!DOCTYPE html>


<html>
	<head>
		<title>dashboard</title>
		<script src="/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

		<!-- Graph script -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


		<!-- map scripts -->
		<link href="../dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../dist/jquery.vmap.js"></script>
		<script type="text/javascript" src="../dist/maps/jquery.vmap.world.js" charset="utf-8"></script>
		<script type="text/javascript" src="/ClientScript/ISO_CountryCode.js"></script>
		<script type="text/javascript" src="/ClientScript/dashboard.js"></script>
		<script type="text/javascript" src="/ClientScript/map.js"></script>

	</head>

	<body>

        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large"
                    onclick="w3_close()">Close &times;</button>
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>

        <div id="main">

            <div class="w3-teal">
                <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                <div class="w3-container">
                    <h1 id="MainHeader" class="header">Simbla Dashboard</h1>
                </div>
            </div>




		<meta name="page-source" site-id= <%=siteId%>>


		<div class="Wrapper">
			<div class="left">
				<h2 class="header">Visits</h2>
				<h3 id="numVisits">Number of Visits: <%=visits%></h3>
				<h3 id="numFirstVisits">First Visits:  <%=firstVisits%></h3>
			</div>
			<div class="right">
				<h2 class="header">Countries</h2>
     			<!-- <div id="countries"></div>-->
				<table id="countries" class="w3-table w3-bordered">
					<tr>
						<th>Country</th>
						<th>Flag</th>
						<th>Visitors</th>
					</tr>
				</table>
			</div>
		</div>




		<center>
            <div id="vmap" style="width: 600px; height: 400px;"></div>
    <!--        <div class="Wrapper2">
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="chart-container2" style="position: relative; height:20vh; width:40vw">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>-->
		</center>

			<div class="w3-row-padding">
				<div class="w3-col s4" style="width:50%; height: 100%">
					<div class="chart-container">
						<canvas id="myChart"></canvas>
					</div>
				</div>
				<div class="w3-col s4" style="width:50%;height: 100%">
					<div id="piechart" style="width: 100%; height: 100%;"></div>
					</div>
			</div>
			</div>
	</body>
</html>