<!DOCTYPE html>
<html>
<head>

    <script src="/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/CardList.css">
    <link rel="stylesheet" href="/stylesheets/wrapChart.css">
    <link rel="stylesheet" href="/stylesheets/DonutChart.css">
    <link rel="stylesheet" href="/stylesheets/DropDownArrow.css">

    <script type="text/javascript" src="/ClientScript/wrapChart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- map scripts -->
    <link href="../dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="../dist/maps/jquery.vmap.world.js" charset="utf-8"></script>
    <script type="text/javascript" src="/ClientScript/ISO_CountryCode.js"></script>
    <script type="text/javascript" src="/ClientScript/dashboard.js"></script>
    <script type="text/javascript" src="/ClientScript/map.js"></script>


    <meta name="page-source" site-id= <%=siteId%>>

</head>
<body>

<center>
    <h1 class="titleHeader">DASHBOARD</h1>
</center>

<div class="container card-list">
    <div class="card totalVisits tooltip">
        <div class="title">Visits</div><span class="glyphicon glyphicon-upload"></span>
        <div class="value counters"><%=visits%></div>
        <div class="stat"><b><%=visitsGrowth%></b>% increase from yesterday</div>
        <div class="tooltiptext">Total Visits</div>
    </div>
    <div class="card totalFirstVisits tooltip">
        <div class="title">First Visits</div><span class="glyphicon glyphicon-upload"></span>
        <div class="value counters"><%=firstVisits%></div>
        <div class="stat"><b><%=firstVisitsGrowth%></b>% increase from yesterday</div>
        <div class="tooltiptext">Total First Visits</div>
    </div>
    <div class="card bounceRate tooltip">
        <div class="title">Bounce Rate</div><span class="glyphicon glyphicon-download"></span>
        <div class="value rate"><%=bounceRate%>%</div>
        <div class="stat"><b><%=bounceRateGrowth%></b>% increase from yesterday</div>
        <div class="tooltiptext">Single-page sessions divided by all sessions.</div>
    </div>
    <div class="card loadTime tooltip">
        <div class="title">Load Time</div><span class="glyphicon glyphicon-download"></span>
        <div class="value time"><%=loadTime%>ms</div>
        <div class="stat"><br></div>
        <div class="tooltiptext">Average loading time</div>
    </div>
</div>
<div class="container card-list">
    <div class="card tooltip">
        <div class="title">Best Day</div><span class="glyphicon glyphicon-upload"></span>
        <div class="value"><%=bestDay%></div>
        <div class="stat"><br></div>
        <div class="tooltiptext">The day with the most traffic</div>
    </div>
    <div class="card engagementRate tooltip">
        <div class="title">Engagement rate</div><span class="glyphicon glyphicon-upload"></span>
        <div class="value rate"><%=engagementRate%></div>
        <div class="stat"><b><%=engagementRateGrowth%></b>% increase from yesterday</div>
        <div class="tooltiptext">The time visitors spent on the site</div>
    </div>
    <div class="card recencyRate tooltip">
        <div class="title">Recency rate</div><span class="glyphicon glyphicon-download"></span>
        <div class="value rate"><%=recencyRate%>%</div>
        <div class="stat"><b><%=recencyRateGrowth%></b>% increase from yesterday</div>
        <div class="tooltiptext">The percentage of visitors who returned to the site</div>
    </div>

    <div onclick="getHeatmap()" style="cursor: pointer;" class="dropdown-heatmap card heatmap tooltip">
        <div class="title"></br></div><span class="glyphicon glyphicon-download"></span>
        <div class="value">HEATMAP</div>
        <div class="stat"><br></div>
        <div class="tooltiptext">Choose page to show Heatmap</div>
        <div class="dropdown-content heatmap-content">
        </div>
    </div>
</div>
<!--
<div class="row-div">
    <div id="countryList" class="chart-wrap"></div>
    <div id="vmap" class="chart-wrap"></div>
    <div  class="chart-wrap"></div>
</div> -->

<div class=" doubleRow-div">
    <div class="col-div">
        <div class="countryList-div chart-wrap vertical-chart">
            <div class="dropdown">
                <button class="dropbtn"><img style="height: 16px; width: 16px" src="/stylesheets/settingsImage.jpg"/></button>
                <div class="dropdown-content">
                    <span class="day" onclick=getCountryList(0)>Last day</span>
                    <span class="week" onclick=getCountryList(1)>Last week</span>
                    <span class="month"onclick=getCountryList(2)>Last month</span>
                    <span class="year" onclick=getCountryList(3) selected>Last year</span>
                </div>
            </div>
            <div id="countryList" class="chartt"></div>
        </div>


        <div class="referres-div chart-wrap  vertical-chart">
            <div class="dropdown">
                <button class="dropbtn"><img style="height: 16px; width: 16px" src="/stylesheets/settingsImage.jpg"/></button>
                <div class="dropdown-content">
                    <span class="day" onclick=getRefererList(0)>Last day</span>
                    <span class="week" onclick=getRefererList(1)>Last week</span>
                    <span class="month" onclick=getRefererList(2)>Last month</span>
                    <span class="year" onclick=getRefererList(3)>Last year</span>
                </div>
            </div>
            <div id="referres_barchart" class="chartt"></div>

        </div>



    </div>
    <div id="vmap" class="chart-wrap"></div>
</div>

<div class="row-div">
    <div class="donutchart-div chart-wrap">
        <div class="dropdown">
            <button class="dropbtn"><img style="height: 16px; width: 16px" src="/stylesheets/settingsImage.jpg"/></button>
            <div class="dropdown-content">
                <span class="day" onclick=drawPieChart(0)>Last day</span>
                <span class="week" onclick=drawPieChart(1)>Last week</span>
                <span class="month" onclick=drawPieChart(2)>Last month</span>
                <span class="year" onclick=drawPieChart(3)>Last year</span>
            </div>
        </div>
        <div id="donutchart" class="donut-chart"></div>
    </div>


    <div id="chart_div" class="line-chart"></div>
</div>

<div class="row-div">
    <div class="scrolling_chart-div chart-wrap">
        <div class="dropdown">
            <button class="dropbtn"><img style="height: 16px; width: 16px" src="/stylesheets/settingsImage.jpg"/></button>
            <div class="dropdown-content">
                <span class="day" onclick=getScrolling(0)>Last day</span>
                <span class="week" onclick=getScrolling(1)>Last week</span>
                <span class="month" onclick=getScrolling(2)>Last month</span>
                <span class="year" onclick=getScrolling(3)>Last year</span>
            </div>
        </div>
        <div id ='scrolling_chart' class="chartt"></div>
    </div>

    <div class="pageViewsChart-div chart-wrap">
        <div class="dropdown">
            <button class="dropbtn"><img style="height: 16px; width: 16px" src="/stylesheets/settingsImage.jpg"/></button>
            <div class="dropdown-content">
                <span class="day" onclick=getPageViews(0)>Last day</span>
                <span class="week" onclick=getPageViews(1)>Last week</span>
                <span class="month" onclick=getPageViews(2)>Last month</span>
                <span class="year" onclick=getPageViews(3)>Last year</span>
            </div>
        </div>
        <div id = 'pageViewsChart' class="chartt"></div>
    </div>

    <div id = 'hourOfTheDayChart' class="chart-wrap">
    </div>
</div>

<div class="doubleRow-div">
    <div id = 'campaigns' class="chart-wrap">
        <button class ="dropbtn" onclick="tree_table.goUpAndDraw();"><img style="height: 32px; width: 32px" src="/stylesheets/black-arrow.png"/></button>
        <div id ='inner_campaigns'></div>
    </div>


</div>






</body>
</html>