doctype html
html
    head
        title dashboard
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='JavaScript/dashboard.js')
    body
       center
           h1#MainHeader.header Welcome to Dashboard


        h2.header Visits
        h3#numVisits Number of Visits: #{visits}
        h3#numFirstVisits First Visits: #{firstVisits}


