<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="ClientScript/script.js"></script>
		<script src="../dist/heatmap.js/build/heatmap.min.js"></script>
		<script src="ClientScript/heatmap.js"></script>


	</head>
	<div class="heatmap">
		<body>
			<meta name="page-source" site-id="3">
			<h1><%=title%></h1>
			<p>Welcome to <%=title%></p>
		</body>
	</div>
</html>