body{
    background-color: #ebebeb;
}


.card-list {
.clear;
    width: 90%;
    height: 130px;
    margin: 0 auto;
}
.card {
    border: 10px solid;
    border-radius: 16px;
    color: #ebebeb;
    float: left;
    padding: 10px;
    position: relative;
    width: 25%;
}
.glyphicon {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
}
.stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}
.title {
    display: inline-block;
    font-size: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}
.value {
    font-size: 28px;
    padding: 0 10px;
}
.blue {
    background-color: #5A738E;
}
.green {
    background-color: #5A738E;
}
.orange {
    background-color: #5A738E;
}
.red {
    background-color: #5A738E;
}