body{
    background-color: #ebebeb;
}


.card-list {
.clear;
    width: 90%;
    height: 130px;
    margin: 0 auto;
}
.card {
    border-radius: 16px;
    color: #ebebeb;
    float: left;
    padding: 10px;
    position: relative;
    width: 23%;
    background-color: #004e8e;
    margin: 1%;
    box-shadow: 1px 1px 2px black, 0 0 100px white, 0 0 20px darkblue;
}
.glyphicon {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
}
.stat {
    /*rgba(255, 255, 255, 0.3)*/
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}
.title {
    display: inline-block;
    font-size: 12px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}
.value {
    font-size: 28px;
    padding: 0 10px;
}
