body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background : #300032;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: black;
  font-family: "Arial Rounded MT Bold";
}

@font-face {
  font-family: abelFont;
  src: url(abel-regular.ttf);
}

.titleHeader{
  font-weight:bold;
  font-family: abelFont;
  font-size: 1500%;
  margin: 0 auto;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 100px white, 0 0 20px darkblue;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

h2{
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h3{
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div .jqvmap-zoomin, div .jqvmap-zoomout{
  padding: 0px;
}
.w3-bar-block .w3-bar-item
{
  color: black;
}
#MainHeader
{
  font-family: Arbutus;
  color: black;
}
a {
  color: #00B7FF;
}



.countryEntry
{
  list-style-type: none;

}



.flag {
  height: 10px;
  width: 20px;

}

#vmap{


  align-self: center;

}

.left {
  float: left;
  width: 65%;
  overflow: hidden;
  padding-left: 10%
}

.right {
  overflow: hidden;
  padding-right: 10%
}
.Wrapper
{
  margin-left: 70px;
}

.google-visualization-table-table
{
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 10%;
}
.grid-item {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

