body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background : #300032;
  color: #e6e6e8;
  font-family: "Arial Rounded MT Bold";
}

#MainHeader
{
  margin-top: -40px;
  font-family: Arbutus;
  color: #300032;
}
a {
  color: #00B7FF;
}

.header{
}

.countryEntry
{
  list-style-type: none;
}

.flag {
  padding-left: 30px;
  padding-right: 100px;
  height: 10px;
  width: 20px;
}

#vmap{

  margin-top: 100px;
  align-self: center;

}

.left {
  float: left;
  width: 65%;
  overflow: hidden;
}

.right {
  overflow: hidden;
}
.Wrapper
{
  margin-left: 70px;

}


.myNav{
  background: #c43235;

}
