body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background : #300032;
  color: #e6e6e8;
  font-family: "Arial Rounded MT Bold";
}

h2{
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h3{
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div .jqvmap-zoomin, div .jqvmap-zoomout{
  padding: 0px;
}
.w3-bar-block .w3-bar-item
{
  color: black;
}
#MainHeader
{
  margin-left: 10px;
  font-family: Arbutus;
  color: #300032;
}
a {
  color: #00B7FF;
}



.countryEntry
{
  list-style-type: none;

}



.flag {
  height: 10px;
  width: 20px;

}

#vmap{

  margin-top: 100px;
  align-self: center;

}

.left {
  float: left;
  width: 65%;
  overflow: hidden;
}

.right {
  overflow: hidden;
}
.Wrapper
{
  margin-left: 70px;
}



